* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Fonts */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* General Website Style rules */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

ul,
ol,
a {
  list-style-type: none;
  text-decoration: none;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* [Header] rules */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  padding: 0 15px 0 15px;
  width: 1158px;
  height: 72px;
}

.nav-adress {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: calc(100% - 76px);
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.studio-logo-text {
  color: #2e2f42;
}

.ul-nav-header {
  display: flex;
  gap: 40px;
}

.main-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
}

.main-menu:hover {
  color: #404bbf;
}

.after-menu::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  color: #404bbf;
  background-color: #404bbf;
  border-radius: 2px;
}

.after-menu:nth-child(1) {
  color: #404bbf;
}

/*.main-menu:focus {
  color: #404bbf;
}*/

/*.main-menu:hover {
  color: #404bbf;
}*/

/*.main-menu:active {
  color: #404bbf;
}*/

/*.main-menu:hover .main-menu::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}*/

.address {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  max-height: 24px;
  padding-top: 24px;
  /*padding-top: 10px;*/
  padding-bottom: 24px;
  padding-left: 332px;
}

.ul-address {
  display: flex;
  gap: 40px;
}

.li-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  gap: 40px;
  width: 151px;
  height: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  position: relative;
}

.li-address:hover {
  color: #404bbf;
}
/*.li-address:focus {
  color: #404bbf;
}*/

/*
.after-adress::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
*/

/*.li-address:active {
  color: #404bbf;
}*/

/* [main] -> [section] (first section contains) rules */

.section-one {
  background-color: #2e2f42;
  padding: 188px 0px 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

/*.h-one-container-settings {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}*/

.h-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  display: flex;
  width: 496px;
  margin: auto auto 48px auto;
}

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus {
  background-color: #404bbf;
}
.button:hover {
  background-color: #404bbf;
}
.button:active {
  background-color: #404bbf;
}

/* [main] -> [section] (second section contains) rules */

.section-two {
  padding-top: 120px;
  padding-bottom: 120px;
}

.h-two-section-two {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ul-section-two {
  display: flex;
  gap: 24px;
}

.li-item-section-two {
  width: calc((100% - 72px) / 4);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.h-three-section-two {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.p-section-two {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* [main] -> [section] (third section contains) rules */

.section-three {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-section-three {
  padding: 32px 0;
}

.h-two-section-three {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.h-three-section-three {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.ul-section-three {
  display: flex;
  gap: 24px;
}

.li-section-three {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.ul-social-media-three {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.li-social-media-three {
  width: 40px;
  height: 40px;
}

.link-social-media {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-media:hover {
  background-color: #404bbf;
}

.link-social-media:active {
  background-color: #404bbf;
}

.link-social-media:focus {
  background-color: #404bbf;
}

.svg-social-media {
  fill: #f4f4fd;
}

.p-section-three {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin: 8px;
}

/* [main] -> [section] (fourth section contains) rules */

.section-four {
  background-color: #ffffff;
}

.container-section-four {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.h-two-section-four {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.ul-section-four {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.li-section-four {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
  transition-timing-function: ease-out;
  transition-duration: 500ms;
}

.li-section-four:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.h-three-section-four {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  margin-bottom: 8px;
}

.p-section-four {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

.p-container {
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: 360px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.li-section-four:hover .p-four-app-desc {
  transform: translateY(0);
}

.p-four-app-desc {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0px;
}

/* [footer] rules */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.container-footer-logo-p {
  margin-right: 120px;
}

.container-subs {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-left: 80px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.p-footer-one {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.studio-footer-logo-text {
  color: #f4f4fd;
}

/*.container-footer-social-media {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}*/

.p-footer-two {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.ul-footer {
  display: flex;
  gap: 16px;
}

.li-footer {
  width: 40px;
  height: 40px;
}

.footer-link-social-media {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-social-media:hover {
  background-color: #31d0aa;
}

.footer-link-social-media:focus {
  background-color: #31d0aa;
}

.footer-link-social-media:active {
  background-color: #31d0aa;
}

.footer-svg-social-media {
  fill: #f4f4fd;
}

.subscribe {
  margin-bottom: 16px;
}

.form-footer {
  display: flex;
  gap: 24px;
}

.input-footer {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

::placeholder {
  color: #fff;
}

.btn-footer {
  display: flex;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px 8px 24px;
  gap: 16px;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
}

.footer-svg-subscribe {
  margin-left: 16px;
  fill: #fff;
}

/* [modal] rules */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-modal {
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-modal {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:focus,
.btn-modal:hover {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

.svg-modal {
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.svg-modal:hover:focus {
  fill: #ffffff;
}

.p-modal {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
}

.form-modal {
  margin-bottom: 8px;
}

.in-label-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.after-label-modal {
  position: relative;
}

.after-label-modal:focus-within {
  fill: #4d5ae5;
}

.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:active,
.input-modal:focus {
  fill: #4d5ae5;
  border-color: #4d5ae5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.svg-two-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-modal-two {
  margin-bottom: 16px;
}

.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px, 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
}

.textarea-modal:focus {
  border-color: #4d5ae5;
}

.checkbox-etiquette {
  margin-bottom: 24px;
}

.checkbox-etiquette:focus-within {
  fill: #fff;
}

.checkbox {
  visibility: hidden;
}

.etiquette {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-etiquette {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox:checked + .etiquette .span-etiquette {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.svg-etiquette:focus-within {
  fill: #4d5ae5;
}

.btn-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0, 119px;
  transform: translate(50%);
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 4px;
}

.link-policy {
  color: #4d5ae5;
}
